<!DOCTYPE html>
<html>
  <head>
    <title>Mastermind</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <script src='/lib/axios.min.js'></script>
  </head>
  <body>
    <div id="ui">
      <h1 id="title-mmind">M A S T E R&nbsp;&nbsp;M I N D</h1>
      <hr>
      <div id="welcome-container">
        <p>
          <a href="/"><button>Back to main page</button></a>
        </p>
        <p>
          <ul>
            <% user.gameHistory.reverse().forEach((game) => {%>
            <br>
            <li>
              <% if (game.gameWon) { %>
                    <span class="win-message">WIN</span>
                <%} else {%>
                    <span class="lose-message">LOSS</span>
                <% } %>
                <br>Last guess:<%= game.lastGuess %>
                <br>Black:<%= game.black %>
                <br>White:<%= game.white %>
            </li>
              <% }); %>
          </ul>
        </p>
      </div>
    </div>
  </body>
</html>
