<!DOCTYPE html>
<html>
  <head>
    <title>Mastermind</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <script src='/lib/axios.min.js'></script>
    <script src='/js/mmind-script.js'></script>
  </head>
  <body>
    <div id="ui">
      <div id="header">
        <h1 id="title-mmind">M A S T E R&nbsp;&nbsp;M I N D</h1>
        <hr>
        <div id="form-container">
          <p name="left-part">
            <a href="/"><button>Back to main page</button></a>
          </p>
          <div>
            <label for="size">Size: &emsp;&emsp;&emsp;&emsp;&emsp;</label>
            <input id="size" type="number" name="size" value="5" min="1" max="10"><br><br>
            <label for="dim">Difficulty:</label>
            <input id="dim" type="number" name="dim" value="9" min="2" max="10"><br><br>
            <label for="max">Moves: &emsp;&emsp;&emsp;&emsp;</label>
            <input id="max" type="number" name="max" value="20" min="0" max="99"><br><br>
            <button id="new-game-btn" onclick="newGame()">New Game</button>
          </div>
        </div>
       <div id="game-container">
        <div>
          <h4>Moves left: <span id="moves-left"></span></h4>
        </div>
        <div id="guess-container">
          <input id="guess-input" type="number" min="0">
          <button id="guess-btn" onclick="guess()">Guess</button>
        </div>
      </div>
        <div id="result-container">
          &emsp;
        </div>
    </div>
    <div id="game-over-container"></div>
  </body>
</html>
