div.A {
    left: 10%;
    top: 10%;
    width: 40%;
    height: 30%;
    position: absolute;

    background-color: yellow;
    border: red;
    border-style: solid;
    border-width: 3px;

    text-align: center;
}
div.B {
    left: 50%;
    top: 50%;
    width: 40%;
    height: 30%;
    position: absolute;

    background-color: whitesmoke;
    border: blue;
    border-style: solid;
    border-width: 3px;

    text-align: center;
}