<!DOCTYPE html>
<html>
  <head>
    <title>Mastermind</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js'></script>
  </head>
  <body>
    <div id="ui">
      <h1 id="title-mmind">&nbsp;&nbsp;C H A T</h1>
      <hr>
      <div id="menu">
        <p>
          Welcome <%= user.username %>
        </p>
        <p>
          <a href="/logout"><button>Log out</button></a>
        </p>
        <p>
          <form action="/room" method="POST">
            <input name="roomName" id="chat-room-name" type="text" placeholder="Name"><br><br>
            <input type="submit" value="Create room">
          </form>
        </p>
        <div id="chat-window">
          <p>
            <strong>Chat rooms:</strong>
          </p>
            <% chatRooms.forEach((room) => {%>
              <p>
                <%= room.name %>
                &nbsp;
                <a href="/room/<%= room.name %>"><button>Join</button></a>
              </p>
            <% }); %>
          </p>
      </div>
    </div>
  </body>
</html>
